body{
    /* width: 100%; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 1%;
    flex-wrap: wrap;
}
.main{
    height: 430px;
    width: 240px;
    border: 2px solid blue;
    margin: 10px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;
}
.main:hover{
    box-shadow: teal 8px 10px 15px 0px;
}
.main>input{
    height: 20px;
    width: 50%;
    margin: 4px;
    text-align: center;
    font-size: medium;
    border: 2px solid;
    border-radius: 15px;
}
.main>button{
    height: 35px;
    padding: 0px 10px; 
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: 0.5s ease;
}
.main>button:hover{
    background-color: white;
    color: black
}